html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
  width: 25%;
  margin: 0;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

img {
  width: 100px;
}

div {
  font-size: .875rem;
  float: left;
  overflow: hidden;
}

h2 {
  margin: 0;
}

h3 {
  font-style: italic;
  font-size: .875rem;
}

p {
  margin: 0 auto 1.5rem;
  font-size: .875rem;
}

.quest {
  background-color: #e2e2e2;
  padding: .75rem;
}

.dinasaur-knights {
  background-color: #ccc;
  padding: .75rem;
}

.black-dragon {
  background-color: #aaa;
  padding: .75rem;
}

.light-speed {
  background-color: #999;
  padding: .75rem;
}

a {
  padding: .75rem;
  background-color: #333;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}
